body{
	background: #F0F0F0;
	font-family: sans-serif;
	font-size: 85%;

}
a {
color: #21759B;
}
h2{
	text-align: center;
	margin: 20px;
}
#collect_emails {
padding: 15px 15px 0 15px;
margin-bottom: 0;
}
.check_all {
	font-size: 13px;
	margin-bottom: 15px;
	font-family: serif;
}

input[type="text"], textarea {
	display: block;
	padding: 4px;
	width: 100%;
	margin: 0;
}
textarea{
	height: 80px;
}
label {
	font-weight: bold;
}
button, .button{
background-color: #21759B;
background-image: -webkit-gradient(linear,left top,left bottom,from(#2A95C5),to(#21759B));
background-image: -webkit-linear-gradient(top,#2A95C5,#21759B);
background-image: -moz-linear-gradient(top,#2A95C5,#21759B);
background-image: -ms-linear-gradient(top,#2A95C5,#21759B);
background-image: -o-linear-gradient(top,#2A95C5,#21759B);
background-image: linear-gradient(to bottom,#2A95C5,#21759B);
border-color: #21759B;
border-bottom-color: #1E6A8D;
-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
color: #FFF;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
display: inline-block;
text-decoration: none;
font-size: 12px;
line-height: 23px;
height: 24px;
margin: 0;
padding: 0 10px 1px;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-border-radius: 3px;
-webkit-appearance: none;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#wsi_loading{
	display: none;
	background: #fff;
	color: #333;
	font-family: sans-serif;
	margin: 2em auto;
	padding: 1em 2em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	max-width: 700px;
	font-size: 14px;
} 
#collect_container, #upload_container{
background: #fff;
color: #333;
font-family: sans-serif;
margin: auto;
padding: 1em 2em;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #dfdfdf;
max-width: 900px;
font-size: 14px;
}

.box-wrapper {
background-color: #EAEAEA;
padding: 6px;
}
.box-wrapper .search-box {
width: 100%;
overflow: hidden;
margin-bottom: 5px;
}
.box-wrapper .search-box .unselect-all {
float: right;
font-size: 11px;
font-weight: bold;
padding-top: 6px;
padding-left: 6px;
margin-bottom: -6px;
}
.box-wrapper .search-box .text-search {
overflow: hidden;
padding: 5px 5px 5px 26px;
color: #B3B3B3;
-moz-box-shadow: inset 0 0 4px 0 #f0f0f0;
-webkit-box-shadow: inset 0 0 4px 0 #F0F0F0;
box-shadow: inset 0 0 4px 0 #F0F0F0;
background: url("../img/glass.jpg") 2px 3px no-repeat #FFF;
border: 1px solid #C4C4C4;
}
.labeloverlay {
position: absolute;
display: none;
white-space: nowrap;
padding-left: 1px;
padding-top: 1px;
font-size: 14px;
line-height: 1.2em;
font-weight: bold;
z-index: 1;
color: #818181;
}
.box-wrapper .search-box .text-search .labeloverlay {
font-size: 12px;
line-height: 1.25;
}
.box-wrapper .search-box .text-search .form-text {
margin: 0;
padding: 0;
border: none;
background: #FFF;
width: 100%;
font-size: 12px;
line-height: 15px;
height: 15px;
outline: none;
}
.box-wrapper .scroll-box {
height: 252px;
background: #FFF;
border: 1px solid #CACACA;
overflow: auto;
}
.box-wrapper .friends_container {
width: 100%;
}
.box-wrapper .friends_container tr:first-child td {
border-top: none;
}
.box-wrapper .friends_container tr td {
padding: 3px 5px;
vertical-align: middle;
border-top: 1px solid #EAEAEA;
color: #424242;
font-weight: bold;
height: 42px;
}
.box-wrapper .friends_container tr td.user-img {
width: 35px;
}
.box-wrapper .friends_container tr td.user-img img {
	width: 35px;
	display: block;
	height: auto;
}
.box-wrapper .friends_container tr:first-child td {
border-top: none;
}
.box-wrapper .friends_container tr td em {
display: block;
font-size: 12px;
font-style: normal;
color: #B3B3B3;
}
.box-wrapper .friends_container tr.selectedTr td {
background: #D3EDFF;
}
.labeloverlaywrapper {
position: relative;
}
.checkbox-container {
width: 20px;
}
td.checkbox-container {
width: 35px;
}
td.user-img {
width: 50px;
}
.fields-wrapper label{
	margin: 15px 0 10px 0;
	display: block;
}
#wp-message-editor-container {
background: #FFF;
}
#submit-button{
	margin: 20px auto 0;
	display: block;
	font-size: 26px;
	height: 40px;
	padding: 0 22px;
}
.place-link{
margin: 5px 0;
display: block;
font-size: 11px;
}
#credits{
text-align: center;
margin: 5px;
font-size: 11px;
}
.mceEditor table {
max-width:none; /* Bug in computation of fullscreen */
}

.mceEditor table.mceLayout {
width:100% !important;
height:auto !important;
} 

table.mceToolbar { float:left; }
body .mceToolbar div {
white-space:normal;
}

@media screen and (max-width: 400px){
	#collect_container, #upload_container {
		padding: 1em 0;	
	}
table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}
.mceToolbar td {
    display:table-row;
    float: left;
}
.mceToolbar td:nth-of-type(11){
    clear: left;
}	
}