@font-face {
	font-family: 'wsi-social';
	src:url('../fonts/wsi-social.eot?-ucnimv');
	src:url('../fonts/wsi-social.eot?#iefix-ucnimv') format('embedded-opentype'),
		url('../fonts/wsi-social.woff?-ucnimv') format('woff'),
		url('../fonts/wsi-social.ttf?-ucnimv') format('truetype'),
		url('../fonts/wsi-social.svg?-ucnimv#wsi-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wsiicon-"], [class*=" wsiicon-"] {
	font-family: 'wsi-social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	background: none !important;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wsiicon-google:before {
	content: "\e602";
}
.wsiicon-yahoo:before {
	content: "\e603";
}
.wsiicon-twitter:before {
	content: "\e604";
}
.wsiicon-linkedin:before {
	content: "\e605";
}
.wsiicon-foursquare:before {
	content: "\e606";
}
.wsiicon-live:before {
	content: "\e607";
}
.wsiicon-facebook:before {
	content: "\e601";
}
.wsiicon-tux:before {
	content: "\e600";
}
.wsiicon-mail:before {
	content: "\e608";
}

.service-filters {
background-color: #F0F0F0;
border-top: 1px solid #D7D7D7;
padding: 0 10px 6px 10px;
width: 100%;
border-bottom: 1px solid #D7D7D7;
overflow: hidden;
}
.service-filter-content .service-filters li {
float: left;
text-align: center;
background-color: #FFF;
margin: 6px 6px 0 0;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
position: relative;
list-style: none !important;
height: 64px;
border: 1px solid #D7D7D7;
cursor: pointer;
color: #fff;
}
.service-filters li a {
display: block;
position: relative;
z-index: 2;
width: 79px;
font-size: 44px;
line-height: 69px;
height: 64px;
color: inherit;
text-decoration: none;
}
.service-filter-content .service-filters li:hover,
.service-filter-content .service-filters li.selected,
.service-filter-content .service-filters li.completed {
border: 1px solid #23639C;
-webkit-box-shadow: #909090 0px 2px 5px 0px;
-moz-box-shadow: #909090 0px 2px 5px 0px;
box-shadow: #909090 0px 2px 5px 0px;
opacity: 0.9;
}
.service-filter-content .service-filters li a:hover{
	color: inherit;
}
.service-filter-content .service-filters li.completed{
	background: #FFF url(../img/completed.png) no-repeat 2px 2px;
}
.ready-label.hidden{ display: none;}
.service-filter-container a, .service-filter-container a:link, .service-filter-container a:hover {
color: #000;
display: table-cell;
text-decoration: none;
vertical-align: middle;
}
.service-filter-content .service-filters li .service-filter-name-container .service-filter-name-outer {
height: 100%;
width: 100%;
display: table;
position: relative;
overflow: hidden;
}
.service-filter-content .service-filters li .service-filter-name-container .service-filter-name-outer .service-filter-name-inner {
top: 50%;
display: table-cell;
vertical-align: middle;
left: 0;
}
.service-filter-content .service-filters li .service-filter-name-container .service-filter-name-outer .service-filter-name-inner a {
top: -50%;
padding: 0;
}
.service-filters li:last-child {
margin-right: 0px;
}
#facebook-provider{
	background-color: #3B5998;
}
#google-provider{
	background-color: #ca3f2f;
}
#yahoo-provider{
	background-color: #82138b;
}
#linkedin-provider{
	background-color: #388cb3;
}

#live-provider{
	background-color: #19608a;
}

#twitter-provider{
	background-color: #7cd2f2;
}

#foursquare-provider{
	background-color: #34a0ca;
}

#mail-provider{
	background-color: #744848;
}


.wsi_success {
	display: none;
	background: url( ../img/completed-big.png) no-repeat 18px center;
	border: 1px solid #CDCDCD;
	padding: 30px;
	padding: 20px 20px 20px 60px;
	width: 350px;
	margin: 20px auto;
}

.service-filters.wsi-sidebar {
background: none;
border: none;
padding: 0;
}
.wsi-sidebar.service-filters li {
border: none;
height: auto;
margin: 0 3px 3px 0;
width: auto;
}
.wsi-sidebar.service-filters li:hover {
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
border: none;
opacity: 0.8;
}
.wsi-sidebar.service-filters li a {
padding: 0;
width: 36px;
height: 38px;
font-size: 22px;
line-height: 38px;
color: inherit;
}
.wsi-sidebar.service-filters li a:hover{
	color: inherit;
}
.wsi_success.small {
width: auto;
}
#wsi_provider{
	text-transform:capitalize;
}	
.wsi-sidebar.service-filters li.completed {
background: none;
border: none;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}
.mce-edit-area iframe {
	min-height: 200px;
}